.darkCyanButton {
    -fx-background-color: #008B8B;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-background-radius: 5px;
    -fx-border-color: #F4E7C6;
    -fx-cursor: hand;
}

.darkCyanButton:hover {
    -fx-background-color: #007A7A;
}