.whiteButton {
       -fx-background-color: #FFFFFF;
       -fx-text-fill: #800000;
       -fx-font-size: 14px;
       -fx-font-weight: bold;
       -fx-background-radius: 5px;
       -fx-border-width: 5px;
       -fx-border-color: #000000;
       -fx-border-radius: 5px;
       -fx-content-display: right;
       -fx-graphic-text-gap: 10px;
       -fx-cursor: hand;
       -fx-background-insets: 3px;
       -fx-pref-width: 250px;
}

.whiteButton:hover {
    -fx-background-color: #B3B3B3;
}

.startBackground {
    -fx-background-color: #830000;
}